@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$instig8-orange: #F06202;
$dark-green: #00AC65;
$light-green: #24D883;
$text-color: rgb(50, 50, 50);
$breakpoint: 30em;
$leftNavWidth: 15rem;

* { 
    box-sizing: border-box;
    color: $text-color;
}

::selection {
    background-color: $dark-green;
    color: #FFF;
}

::-moz-selection {
    background-color: $dark-green;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

section {
    margin-bottom: 3rem;
}

dt {
    font-weight: 600;
}

dd {
    margin: 0 0 1rem 1rem;
}

em {
    font-style: normal;
    font-weight: 600;
}

iframe {
    width: 100%;
    min-height: 300px;
}

img {
    width: 100%;

    &.page-width {
        width: calc(100% + 4rem)
        margin 0 -2rem;
    }

}

a {
    color: $dark-green;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input {
    width: 100%;
    height: 2rem;
    border: 0px;
    border-bottom: 2px solid #00AC65;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: transparent;
    margin-bottom: 1rem;
}


body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110%;
    padding-top: 50px;

    &.menu-open {
        position: fixed;
    }

    @media (min-width: $breakpoint) {
        & {
            padding-top: 0;
            padding-left: $leftNavWidth;
        }
    }
}

.topBar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 50px;
    background-color: #FFF;

    @media (min-width: $breakpoint) {
        display: none;
    }

    .menu {
        box-sizing: border-box;
        height: 80%;
        cursor: pointer;
        svg {
            height: 100%;
            stroke: #000;
            transition: .2s;
            g {
                &:first-child {
                    opacity: 1;
                    transition: opacity 0s .2s;
                    line {
                        transition: transform .2s .2s;
                        transform: translateY(0px);
                    }
                }
                &:last-child {
                    opacity: 0;
                    transition: opacity 0s .2s;
                    line {
                        transition: transform .2s;
                        transform: rotate(0deg);
                        transform-origin: center;
                    }
                }
            }
        }
        .menu-open & svg {
            g {
                &:first-child {
                    opacity: 0;
                    line {
                        transition: transform .2s;
                        &:first-child {
                            transform: translateY(7px);
                        }
                        &:last-child {
                            transform: translateY(-7px);
                        }
                    }
                }
                &:last-child {
                    opacity: 1;
                    line {
                        transition: transform .2s .2s;
                        &:first-child {
                            transform: rotate(45deg);
                        }
                        &:last-child {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

nav {
    position: absolute;
    left: -100vw;
    width: 100vw;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: stretch    ;
    transition: left .2s .2s;
    background-color: #FFF;
    z-index: 10;

    .menu-open & {
        left: 0;
    }

    a {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: #FFF;
            text-decoration: none;
            background-color: $dark-green
        }
    }

    @media (min-width: $breakpoint) {
        & {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: $leftNavWidth;
            // height: unset;
            box-shadow: 0 0 10px;

            a {
                // display: block;
                // flex: unset;
                max-height: 5rem;
                text-align: left;
                padding: 2rem 4rem;
            }
        }
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    text-align: center;

    img {
        width: 300px;
        -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
    }
}

article {
    padding: 0 2rem;
}

.sponsors {
    display: flex;

    & > * {
        flex: 1
    }

}

footer {
    min-height: 40rem;
    padding: 2rem;
    color: #888;
}
