---
---

@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #F06202 !default;
$header-bg-color-secondary: #f6e801 !default;

.page-header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}
