---
---

@import "{{ site.theme }}";

// Headers
$header-heading-color: #fff;
$header-bg-color: #F06202;
$header-bg-color-secondary: #f6e801;
$section-headings-color: $header-bg-color;

.page-header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}


.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $section-headings-color;
  }
}
